<launch>
    <arg name="host" default="$(env HOSTIP)" />
    <arg name="port" default="2000" />

    <arg name="camera_sensor_x" default="0.0" />
    <arg name="camera_sensor_y" default="0.0" />
    <arg name="camera_sensor_z" default="2.5" />
    <arg name="lidar_sensor_x" default="0.0" />
    <arg name="lidar_sensor_y" default="0.0" />
    <arg name="lidar_sensor_z" default="3.0" />

    <node pkg="carla_ctl" type="carla_ctl" name="carla_ctl" output="screen">
        <param name="camera_sensor_x" value="$(arg camera_sensor_x)" />
        <param name="camera_sensor_y" value="$(arg camera_sensor_y)" />
        <param name="camera_sensor_z" value="$(arg camera_sensor_z)" />
        <param name="lidar_sensor_x" value="$(arg lidar_sensor_x)" />
        <param name="lidar_sensor_y" value="$(arg lidar_sensor_y)" />
        <param name="lidar_sensor_z" value="$(arg lidar_sensor_z)" />
        <param name="host" value="$(arg host)" />
        <param name="port" value="$(arg port)" />
    </node>

    <!-- <node pkg="control" type="teleop_keyboard_rule.py" name="control_keyboard" output="screen"  -->
    <!-- <node pkg="control" type="teleop_keyboard.py" name="control_keyboard" output="screen"  -->
    <node pkg="control" type="teleop_keyboard.py" name="control_keyboard" output="screen" 
        args="--host $(arg host) --port $(arg port) --res '960x640'" />
    
    <!-- USB 카메라 데이터를 별도의 bag 파일에 저장 -->
    <node pkg="rosbag" type="record" name="rosbag_record" output="screen"
        args="-O $(find integration)/bag/usb_cam_recorded_data.bag /usb_cam/image_raw" />
    
    <!-- IMU 데이터를 별도의 bag 파일에 저장 -->
    <node pkg="rosbag" type="record" name="rosbag_record_imu" output="screen"
        args="-O $(find integration)/bag/imu_recorded_data4.bag /imu" />

</launch>