<launch>
    <arg name="host" default="$(env HOSTIP)" />
    <arg name="port" default="2000" />
    <arg name="res" default="960x640" />

    <arg name="camera_sensor_x" default="0.0" />
    <arg name="camera_sensor_y" default="0.0" />
    <arg name="camera_sensor_z" default="2.5" />
    <arg name="lidar_sensor_x" default="0.0" />
    <arg name="lidar_sensor_y" default="0.0" />
    <arg name="lidar_sensor_z" default="2.5" />
    <arg name="_rule_sensor_on" default="0" />
    <arg name="gamma" default="2.2" />

    <node pkg="carla_ctl" type="carla_ctl" name="carla_ctl" output="screen">
        <param name="camera_sensor_x" value="$(arg camera_sensor_x)" />
        <param name="camera_sensor_y" value="$(arg camera_sensor_y)" />
        <param name="camera_sensor_z" value="$(arg camera_sensor_z)" />
        <param name="lidar_sensor_x" value="$(arg lidar_sensor_x)" />
        <param name="lidar_sensor_y" value="$(arg lidar_sensor_y)" />
        <param name="lidar_sensor_z" value="$(arg lidar_sensor_z)" />
        <param name="_rule_sensor_on" value="$(arg _rule_sensor_on)" />
        <param name="host" value="$(arg host)" />
        <param name="port" value="$(arg port)" />
    </node>

    <node pkg="control" type="teleop_keyboard.py" name="control_keyboard" output="screen" 
        args="--host $(arg host) --port $(arg port) --gamma $(arg gamma) --res $(arg res)" />

    <!-- <node pkg="rosbag" type="record" name="rosbag_record" output="screen"
        args="-O $(find integration)/bag/usb_cam_recorded_data.bag /usb_cam/image_raw" /> -->

    <node name="ov2slam" pkg="ov2slam" type="ov2slam_node" output="screen"
        args="$(find integration)/config/ov2slam.yaml" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find visualization)/rviz/ov2slam.rviz" output="screen" />
</launch>